body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.formul-container{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.formul{
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    width: 400px;
    height: 200px;
    border: 10px solid rgba(126, 126, 126, 0.6);
    text-align: center;
    margin: auto auto;
}
.formul2-container{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.formul2{
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    width: 400px;
    border: 10px solid rgba(126, 126, 126, 0.6);
    text-align: center;
    margin: auto auto;
}
.formul input ,.formul2 input{
    width: 90%;
    height: 45px;
}
input[type="submit"]{
    margin: 10px auto;
    background-color: rgb(100, 100, 100);
}
input[type="submit"]:hover{
    position: relative;
    left: -5px;
    top: -5px;
    border-bottom: 7px solid rgb(71, 71, 71);
    border-right:  7px solid rgb(71, 71, 71);
}
.formul textarea{
    resize: none;
    width: 90%;
    margin: 10px auto;
}
.formul h4, .formul2 h4{
    margin: 5px auto;
    width: 200px;
}
.titulo{
    border: 1px solid black;
}
.hide{
    position: relative;
    top: -1000px;
}